.custom-footer {
  padding: 2rem;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.footer-column h3 {
  margin-bottom: 0.8rem;
}

.footer-paragraph {
  max-width: 400px;
  line-height: 1.6;
  color: #ccc;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s, color 0.3s;
}
.social-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-icon, .foot-icon-name :hover {
  color: #9716f6;
}
.foot-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9716f6;
  color: #fff;
}
.foot-icon-name {
  font-size: large;
  color: #fff;
}
.footer-divider {
  margin: 1.5rem 0;
  border: none;
  height: 1px;
  background-color: #555;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-socials .social-icon:hover {
  transform: scale(1.05);
}
